<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Guys Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Guys Blog</a></h1>
    </div>

    <div>
        <p>published 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, architecto non placeat ipsam sequi laudantium error ea eum, rem dolores sed vero porro, voluptates praesentium tempora eveniet reiciendis consequatur vitae.</p>
    </div>

    <div>
        p>published 14.07.2014, 4:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, architecto non placeat ipsam sequi laudantium error ea eum, rem dolores sed vero porro, voluptates praesentium tempora eveniet reiciendis consequatur vitae.</p>
    </div>
</body>
</html>